.projects {
  padding: 40px;
  background-color: #fff;
}
.projects.light {
  background-color: #ffffff;
  color: #000000;
}

.projects.dark {
  background-color: #121212;
  color: #ffffff;
}

.project {
  margin-bottom: 20px;
  padding: 20px;
  flex: 1 1 calc(20% - 10px);
  border-radius: 7px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for visual appeal */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project img {
  width: 100%;
  border-radius: 7px;
}
.project a {
  color: #007acc;
  text-decoration: none;
}
.project_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project:hover {
  transform: translateY(-5px); /* Hover effect to lift the card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.project a {
  color: #007acc;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
