.contact {
  padding: 40px;
  background-color: #eef;
  text-align: center;
}


.contact h2 {
  margin-bottom: 20px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon-link {
  color: #007acc;
  font-size: 2rem; /* Adjust size as needed */
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-link:hover {
  color: #4caf50;
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .icon-link {
    font-size: 1.5rem;
  }

  .contact-icons {
    gap: 15px;
  }
}
